<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ru">

    <title>Работа с картой</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="..."
          th:href="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
            th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>

    <script>
        //<![CDATA[
        /*Заполнить таблицу данными по карте*/
        function getCardInfo() {
            //console.log(getCardId());
            //http://localhost:8080
            var q1 = '/card/' + getCardId();
            var q2;
            var q3;
            $.getJSON(q1,
                    function (data) {
                        /*console.log(data);
                        console.log(data._links);
                        console.log(data._links.tarif);
                         console.log(data._links.info);*/
                        $("#cardId").text(data.cardNumber);
                        $("#cardFIO").text(data.surname + " " + data.name + " " + data.patronymic);
                        $("#cardDob").text(data.dayOfBirth);
                        $("#cardPhone").text(data.phone);
                        $("#cardRegistry").text(data.cardRegistry);
                        q2 = data._links.info.href;
                        q3 = data._links.tarif.href;

                        /*console.log(q2);*/
                        $.getJSON(q2,
                                function (info) {
                                    console.log(info);
                                    $("#cardBonusAll").text(info.bonusAll);
                                    $("#cardBonusAccess").text(info.bonusAccess);
                                    $("#cardPersent").text(info.persent + "%");
                                    $("#cardSumOfCost").text(info.costSum + " р.");
                                });

                        /*console.log(q3);*/
                        $.getJSON(q3,
                                function (tarif) {
                                    $("#cardTarifName").text(tarif.name);
                                });

                    });
        }

        /*Получить транзакции по карте*/
        function getCardTransactions() {
            //http://localhost:8080
            var q = "/card/" + getCardId() + "/transactions";
            $.getJSON(q, function (tran) {
                $(".tabletrans tbody").empty();
                $.each(tran, function (key, val) {
                    console.log(val);
                    //console.log(val._links.self.href);
                    $(".tabletrans tbody").append(
                            "<tr>" +
                            "<td><button class='btndeltrans btn btn-success' onclick='delTrans(\"" + val.id + "\")'><span class='glyphicon glyphicon-remove'></span></button></td>" +
                            "<td>" + val.dateOfCost + "</td>" +
                            "<td>" + val.cost + " р." + "</td>" +
                            "<td>" + val.timeOfVisit + "</td>" +
                            "<td>" + val.bonus + "</td>" +
                            "<td>" + val.bonusApply + "</td>" +
                            "</tr>");
                });
            });
        }

        $(document).ready(function () {
            /*делаем прогресс бар диалоговым окном*/
            $(".frmWait").dialog({
                autoOpen: false,
                dialogClass: "alert",
                hide: {effect: "fade", duration: 700}/*, modal:"true" */
            });

            /*На Ajax запрос показать и скрыть панель ожидания*/
            $.ajaxSetup({
                timeout: 20000,
                beforeSend: function () {
                    $("#frmWait").dialog('open');//.show();
                },
                complete: function () {
                    $("#frmWait").dialog('close');//.hide();
                }
            });

            /*Заполнить таблицу данными по карте*/
            getCardInfo();
            /*Заполнить таблицу с транзакциями*/
            getCardTransactions();
        });

        function getCardId() {
            return $("#cardIdParam").val();
        }


        function delTrans(s) {
            console.log(s);
            $.ajax({
                url: "/transaction/" + ids,
                type: 'DELETE',
                success: function () {
                    // Do something with the result
                    $("#btnDelTarif").hide();
                    $('#tblTarif').bootstrapTable('refresh');
                },
                error: function () {
                    $("#dialog-message").dialog('open');
                }
            });
        }
        //]]>
    </script>


</head>
<body style="padding-top: 60px;">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index1.html"><span class="glyphicon glyphicon-chevron-left"></span> Рабочий
                стол</a>
        </div>
        <!--<div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><button type="button" class="btn btn-primary">Primary</button></li>
            </ul>
        </div>-->
    </div>
</nav>


<!--
<div class="page-header">
    <h1>Golden Mean
        <small><br/>система управления бонусами</small>
    </h1>
</div>
-->


<input type="hidden" id="cardIdParam" th:value="${cardId}"/>

<div class="container">
    <!-- table of card info-->
    <table class="table table-bordered table-condensed table-responsive">
        <tbody>
        <tr>
            <th class="text-right bg-info">Карта №</th>
            <th id="cardId"></th>
            <th class="text-right bg-info">Скидка:</th>
            <th id="cardPersent"></th>
            <th class="text-right bg-info">Общая сумма:</th>
            <th id="cardSumOfCost"></th>
        </tr>

        <tr>
            <th class="text-right bg-info">Владелец:</th>
            <th id="cardFIO"></th>
            <th class="text-right bg-info">Д.Р.</th>
            <th id="cardDob"></th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th class="text-right bg-info">Выдана:</th>
            <th id="cardRegistry"></th>
            <th class="text-right bg-info">Тариф:</th>
            <th id="cardTarifName"></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th class="text-right bg-info">Бонусов всего:</th>
            <th id="cardBonusAll"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th class="text-right bg-info">Бонусов доступно:</th>
            <th id="cardBonusAccess"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </tbody>
    </table>
</div>

<!--Form for enter new order -->
<div class="container">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label for="orderCost">Сумма платежа:</label>
            <input type="text" class="grp0 form-control" id="orderCost"/>
        </div>

        <div class="form-group">
            <label for="timeVisit">Время посещения:</label>
            <select class="form-control" id="timeVisit">
                <option>08:00</option>
                <option>08:30</option>
                <option>09:00</option>
                <option>09:30</option>
                <option>10:00</option>
                <option>10:30</option>
                <option>11:00</option>
                <option>11:30</option>
                <option>12:00</option>
                <option>12:30</option>
                <option>13:00</option>
                <option>13:30</option>
                <option>14:00</option>
                <option>14:30</option>
                <option>15:00</option>
                <option>15:30</option>
                <option>16:00</option>
                <option>16:30</option>
                <option>17:00</option>
                <option>17:30</option>
                <option>18:00</option>
                <option>18:30</option>
                <option>19:00</option>
                <option>19:30</option>
                <option>20:00</option>
                <option>20:30</option>
                <option>21:00</option>
            </select>
        </div>
        <div class="form-group">
            <button id="calcOrder" type="button" class="btn btn-success">Рассчитать</button>
        </div>
    </form>
</div>
<script>
    $("#calcOrder").click(function () {
        var cost = $("#orderCost").val();
        var timev = $("#timeVisit").val();
//        http://localhost:8080
        q = '/card/' + getCardId() + '/calcorder';//?cost=' + cost + '%26' + 'time=' + timev;

        $.getJSON(q, {cost: cost, time: timev}, function (data) {
            $("#allBonus").val(data.allBonus);
            $("#bbys").html(data.costBonus);
            $("#bbyt").html(data.timeBonus);
            $("#applyBonus").val(data.applyBonus);
            $("#newCost").val(data.sumOfCost + " р.");
        });
    });
</script>

<p>&nbsp;</p>

<!--END Form for enter new order -->

<div class="container">
    <div class="panel-group">

        <div class="panel panel-primary">
            <div class="panel-heading">Начислить бонусы</div>
            <label for="allBonus"><h4>Бонусы:&nbsp;</h4></label><input type="text" id="allBonus" class="grp0"
                                                                       disabled="disabled"/>
            <button id="buttonAddBonus" type="button" class="btn btn-success">Начислить</button>
            <p>
                <span class="label label-default">бонус по сумме:</span><span id="bbys"
                                                                              class="grp0 label label-info"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="label label-default">бонус по времени:</span><span id="bbyt"
                                                                                class="grp0 label label-info"></span>
            </p>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">Списать бонусы</div>
            <label for="applyBonus"><h4>Списать:&nbsp;</h4></label>
            <input type="text" id="applyBonus" class="grp0" disabled="disabled"/>
            <label for="applyBonus"><h4>К оплате:&nbsp;</h4></label>
            <b><input type="text" id="newCost" class="grp0 alert-success" disabled="disabled"/></b>
            <button id="buttonApplyBonus" type="button" class="btn btn-success">Списать</button>
        </div>

    </div>
</div>
<script>
    function clearField() {
        /*
         $("#orderCost").val("");
         $("#allBonus").val("");
         $("#applyBonus").val("");
         $("#newCost").val("");
         */
        //Очистить поля ввода
        $(".grp0").val("").text("");
    }
</script>

<script>
    //Обработка кнопки "Начислить бонусы
    $("#buttonAddBonus").click(function () {
        var cost = $("#orderCost").val();
        var timev = $("#timeVisit").val();
        //http://localhost:8080
        var q = "/card/" + getCardId() + "/addbonus";
        $.post(q, {"cost": cost, "time": timev}, function (data) {
            console.log("#buttonAddBonus");
            console.log(data);
            clearField();
            getCardInfo();
            getCardTransactions();
        })
    });

    //Обработка кнопки "Списать онусы"
    $("#buttonApplyBonus").click(function () {
        var cost = $("#orderCost").val();
        var timev = $("#timeVisit").val();
        //http://localhost:8080
        var q = "/card/" + getCardId() + "/applybonus";
        $.post(q, {"cost": cost, "time": timev}, function (data) {
            console.log("#buttonApplyBonus");
            console.log(data);
            clearField();
            getCardInfo();
            getCardTransactions();
        })
    });
</script>
<!---->
<!--<div class="container">-->
<div id="frmWait" class="frmWait" style="display: none;">
    <h3>Загрузка данных...</h3>

    <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
        </div>
    </div>
</div>
<!--</div>-->

<!--Панель с транзакциями-->
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">Транзакции по карте</div>
        <table class="tabletrans table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th></th>
                <th>Дата платежа</th>
                <th>Сумма</th>
                <th>Время приема</th>
                <th>Бонусов</th>
                <th>Дата погашения</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>


</body>
</html>