<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title></title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="..."
          th:href="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
            th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script>
        $(document).ready(function () {
            /*делаем диалоговым окно Регистрации карты*/
            $(".frmNewCard").dialog({
                autoOpen: false,
                title: 'Данные по карте',
                dialogClass: "alert",
                hide: {effect: "fade", duration: 500},
                modal: "true",
                width: "45%"
            });
            //Убираем конфликты с datepicker от JQuery
            //var datepicker = $.fn.datepicker.noConflict(); // return $.fn.datepicker to previously assigned value
            //$.fn.bootstrapDP = datepicker;                 // give $().bootstrapDP the bootstrap-datepicker functionality
            /*$( "#cardDob" ).datepicker({
             format: "yyyy.mm.dd",
             startView: 2,
             language: "ru",
             autoclose: true
             });*/
        });

    </script>


    <script>
        //Заполняем форму для редактирования данными карты
        //и делаем read-only полу с номером карты
        //<![CDATA[
        function editCard(c) {
            //console.log(c);
            //TODO: сделать реф., т.к. это copy/paste  $("#btnNewCard").click(function ()
            //получить список тарифов
            var q = "/gettarifs";
            $("#cardTarif").empty();
            $.getJSON(q, function (data) {
                $.each(data, function (key, val) {
                    $('#cardTarif')
                            .append($("<option></option>")
                                    .attr("value", val.id)
                                    .text(val.name));
                });

            });

            var q3;
            var q1 = '/card/' + c;
            $.getJSON(q1,
                    function (data) {
                        $("#cardNumber").val(data.cardNumber);
                        $("#cardName").val(data.name);
                        $("#cardLastname").val(data.surname);
                        $("#cardSurname").val(data.patronymic);
                        var dob = new Date(data.dayOfBirth);//.getFullYear()
                        $("#cardDobY").val(dob.getFullYear());
                        m = dob.getMonth() + 1;
                        if (m < 10) m = "0" + m;
                        console.log(m);
                        $("#cardDobM").val(m);
                        d = dob.getDate();
                        if (d < 10) d = "0" + d;
                        console.log("day=", d);
                        $("#cardDobD").val(d);

                        q3 = data._links.tarif.href;
                        $.getJSON(q3,
                                function (tarif) {
                                    //$("#cardTarifName").text(tarif.name);
                                    //console.log(tarif);
                                    $("#cardTarif").val(tarif.id);
                                });
                    });
            $("#cardNumber").prop("disabled", true);
            $("#btnNewcardOk").hide();
            $("#btnEditcardOk").show();
            $("#frmNewCard").dialog('open');
        }
        //]]>
    </script>
</head>

<!--
<body style="padding-top: 60px;">
-->

<body>
<div class="container">

    <ul class="nav nav-pills">
        <!-- <button class="btn btn-info">Поиск карты</button>-->
        <!--<li class="active"><a data-toggle="pill" href="#findCard">Поиск карты</a></li>-->
        <!--<li><a data-toggle="pill" href="#newCard">Карты</a></li>-->
        <!--<li><a data-toggle="pill" href="#tarif">Тарифы</a></li>-->
        <a href="tarifs.html" id="btnTarifs" class="btnTarifs btn btn-info"><span
                class="glyphicon glyphicon-th-list"></span> Тарифы
        </a>

        <button id="btnNewCard" class="btnNewCard btn btn-info pull-right"><span
                class="glyphicon glyphicon-plus"></span> Новая карта
        </button>
    </ul>





    <div class="tab-content">
        <script>
            //Кнопка РЕГИСТРАЦИЯ НОВОЙ КАРТЫ
            $("#btnNewCard").click(function () {
                //Очистить все поля
                $("#cardNumber").val("");
                $("#cardName").val("");
                $("#cardLastname").val("");
                $("#cardSurname").val("");
                $("#cardDobY").val("");
                $("#cardDobM").val("");
                $("#cardDobD").val("");
                //получить список тарифов
                var q = "/gettarifs";
                $("#cardTarif").empty();
                $.getJSON(q, function (data) {
                    $.each(data, function (key, val) {
                        $('#cardTarif')
                                .append($("<option></option>")
                                        .attr("value", val.id)
                                        .text(val.name));
                    });

                });

                $("#cardNumber").prop("disabled", false);
                $("#btnEditcardOk").hide();
                $("#btnNewcardOk").show();
                $("#frmNewCard").dialog('open');
            });
        </script>

        <div id="findCard" class="tab-pane fade in active">
            <!--<div class="row">-->
            <!--<div class="col-lg-6">-->
            <h3><span class="label label-default">Данные по карте</span></h3>

            <div class="input-group">
                        <span class="input-group-btn">
                <button id="clearFindCard" class="btn  btn-info"><span class="glyphicon glyphicon-remove"></span>
                </button>
                            </span>
                <input id="cardPart" type="text" class="form-control"/>
            <span class="input-group-btn">
                <button id="fetchCard" class="btn  btn-info"><span class="glyphicon glyphicon-search"></span> Искать
                </button>


            </span>
                <!--<span class="input-group-btn">
                    <button class="btn btn-info pull-right">Новая карта</button>
                    </span>-->
            </div>
            <!-- /input-group -->
            <!--</div>-->
            <!-- /.col-lg-6 -->
            <!--</div>-->
            <!-- /.row -->

            <table id="card"
                   class="data-card table table-striped table-bordered table-hover table-condensed table-responsive">
                <thead>
                <tr>

                    <th>Номер карты</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>ДР</th>
                    <th></th>
                    <!--<th>Тел.</th>-->
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <script>
                //<![CDATA[
                function findCardsByPart() {
                    //http://localhost:8080
                    var q = '/card/search?cardpart=' + document.getElementById("cardPart").value;
                    $.getJSON(q, function (data) {

                        $(".data-card tbody").empty();
                        $.each(data, function (key, val) {
                            var btnLink = "";//;
                            //console.log(btnLink);

                            $.each(val.links, function (i, v) {
                                if (v.rel == "self") {
                                    btnLink = v.href;
                                    return false; // stops the loop
                                }
                            });

                            var btnCard = '<a href="' + btnLink + '" class="btn btn-info" role="button">' + val.cardNumber + '</a>';
                            //console.log(btnCardLink);
                            $(".data-card tbody").append(
                                    "<tr>" +
                                    "<td>" + btnCard + "</td>" +
                                    "<td>" + val.surname + "</td>" +
                                    "<td>" + val.name + "</td>" +
                                    "<td>" + val.patronymic + "</td>" +
                                    "<td>" + val.dayOfBirth + "</td>" +
                                    "<td>" + "<button data-toggle='tooltip'' title='Редактировать' onclick='editCard(\"" + val.cardNumber + "\")' " +
                                    "class='btnEditCard btn btn-info'><span class='glyphicon glyphicon-edit'></span></button>" +
                                    "</td>" +
                                        /*"<td>" + val.phone + "</td>" +*/
                                    "</tr>");
                        });
                    });
                }

                $("#cardPart").keypress(function (event) {
                    if (event.which != 13) {
                        return;
                    }
                    findCardsByPart();
                    /*
                     var jqxhr = $.getJSON("http://localhost:8080/card/00001")
                     .success(function() { alert("Успешное выполнение"); })
                     .error(function() { alert("Ошибка выполнения"); })
                     .complete(function() { alert("Завершение выполнения"); });
                     */

                });
                $("#fetchCard").click(function () {
                    findCardsByPart();

                });//$( "#fetchCard" ).click(function()

                $("#clearFindCard").click(function () {
                    $("#cardPart").val("");

                });
                //]]>
            </script>
        </div>



        <div id="tarif" class="tab-pane fade">
            <h3>Редактор тарифов</h3>

            <p>Some content ...</p>
        </div>


    </div>


</div>


<!-- форма регистрации новой карты-->
<div id="frmNewCard" class="frmNewCard form-horizontal">
    <!--<fieldset>-->

    <!-- Text input № карты-->
    <div class="form-group">
        <label class="col-md-3 control-label" for="cardNumber">№ карты</label>

        <div class="col-md-9">
            <input id="cardNumber" placeholder="00000" class="form-control input-md required" type="text"
                   pattern="[0-9]{5}" required="required"/>
        </div>
    </div>

    <!-- Text input Фамилия-->
    <div class="form-group">
        <label class="col-md-3 control-label" for="cardLastname">Фамилия</label>

        <div class="col-md-9">
            <input id="cardLastname" class="form-control input-md" type="text"/>
        </div>
    </div>

    <!-- Text input Имя-->
    <div class="form-group">
        <label class="col-md-3 control-label" for="cardName">Имя</label>

        <div class="col-md-9">
            <input id="cardName" class="form-control input-md" type="text"/>
        </div>
    </div>

    <!-- Text input Отчество-->
    <div class="form-group">
        <label class="col-md-3 control-label" for="cardSurname">Отчество</label>

        <div class="col-md-9">
            <input id="cardSurname" class="form-control input-md" type="text"/>
        </div>
    </div>

    <!-- Text input Дата рождения-->
    <div class="form-group">
        <label class="col-md-3 control-label" for="cardDob">Дата рождения</label>

        <div id="cardDob" class="col-md-9">
            <label class="col-md-1 control-label" for="cardDobY">Г:</label>

            <div class="col-md-3">
                <select id="cardDobY" class="form-control input-md" type="date"></select>
            </div>

            <label class="col-md-1 control-label" for="cardDobM">М:</label>

            <div class="col-md-3">
                <select id="cardDobM" class="form-control input-md" type="date"></select>
            </div>

            <label class="col-md-1 control-label" for="cardDobD">Д:</label>

            <div class="col-md-3">
                <select id="cardDobD" class="form-control input-md" type="date"></select>
            </div>
        </div>
    </div>

    <!-- Text input Тариф-->
    <div class="form-group">
        <label class="col-md-3 control-label" for="cardTarif">Тариф</label>

        <div class="col-md-9">
            <select class="select form-control" id="cardTarif" name="cardTarif"> </select>
        </div>
    </div>

    <!-- Button -->
    <div class="form-group">
        <div class="col-md-12">
            <button id="btnNewcardOk" class="btn btn-success" style="display: none">Сохранить</button>
            <button id="btnEditcardOk" class="btn btn-success" style="display: none">Сохранить</button>
            <button id="btnNewcardCancel" class="btn btn-danger">Отмена</button>
        </div>
    </div>
    <!--</fieldset>-->
    <script type="text/javascript">
        //<![CDATA[
        var year = new Date().getFullYear();
        for (i = 1900; i <= year; i++) {
            $('#cardDobY')
                    .append($("<option></option>")
                            .attr("value", i)
                            .text(i));
        }
        var monthNames = ["", "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь",
            "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"
        ];
        for (i = 1; i <= 12; i++) {
            ii = i;
            if (i < 10) ii = "0" + i;
            $('#cardDobM')
                    .append($("<option></option>")
                            .attr("value", ii)
                            .text(monthNames[i]));
        }
        for (i = 1; i <= 31; i++) {
            ii = i;
            if (i < 10) ii = "0" + i;
            $('#cardDobD')
                    .append($("<option></option>")
                            .attr("value", ii)
                            .text(ii));
        }
        //]]>
    </script>

    <script>
        //Обработка кнопок окна с параметрами карты
        //<![CDATA[
        $("#btnNewcardCancel").click(function () {
            $("#frmNewCard").dialog('close');
        });

        $("#btnNewcardOk").click(function () {
            //TODO: сделать валидацию!!!!!!!
            var q = "/card";
            var newCardId = $("#cardNumber").val();
            console.log("cardid:", newCardId);
            var lastname = $("#cardLastname").val();
            var name = $("#cardName").val();
            var surname = $("#cardSurname").val();
            console.log("surname:", surname);
            var dob = $("#cardDobY").val() + "-" + $("#cardDobM").val() + "-" + $("#cardDobD").val();
            console.log("dob:", dob);
            var tarif = $("#cardTarif").val();
            console.log("tarif:", tarif);
            $.post(q,
                    {
                        "cardid": newCardId,
                        "lastname": lastname,
                        "name": name,
                        "surname": surname,
                        "dob": dob,
                        "tarif": tarif
                    },
                    function (data) {
                        console.log(data);
                        $("#frmNewCard").dialog('close');
                        $("#cardPart").val(data.cardNumber);
                        findCardsByPart();
                    });
        });

        //изменить данные карты
        $("#btnEditcardOk").click(function () {
            //TODO: сделать валидацию!!!!!!!
            var editCardId = $("#cardNumber").val();
            var lastname = $("#cardLastname").val();
            var name = $("#cardName").val();
            var surname = $("#cardSurname").val();
            var dob = $("#cardDobY").val() + "-" + $("#cardDobM").val() + "-" + $("#cardDobD").val();
            var tarif = $("#cardTarif").val();

            /*            var dataObject = {
             "lastname": lastname,
             "name": name,
             "surname": surname,
             "dob": dob,
             "tarif": tarif };*/

            //console.log(JSON.stringify(dataObject));

            var url = "/card/" + editCardId;
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    "dob": dob,
                    "name": name,
                    "lastname": lastname,
                    "surname": surname,
                    "tarif": tarif
                },
                /*dataType: "json",*/
                /*contentType : 'application/json; charset=utf-8',*/
                success: function (result) {
                    console.log(result);
                    $("#frmNewCard").dialog('close');
                    $("#cardPart").val(editCardId);
                    findCardsByPart();
                }
            });
        });
        //]]>
    </script>
</div>


</body>
</html>