<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <title></title>
</head>
<body>

<div class="page-header">
    <h1>Golden Mean
        <small><br/>система управления бонусами</small>
    </h1>
</div>

<div class="btn-group-vertical">
    <a type="button" class="btn btn-default" href="index1.html">Версия 1</a>
    <button type="button" class="btn btn-default">Версия 2</button>
</div>


</body>
</html>